
baysianOpt/.ipynb_checkpoints/checkpoint-checkpoint
baysianOpt/checkpoint
baysianOpt/cp.ckpt.data-00000-of-00001
baysianOpt/cp.ckpt.index
twoOutputCheckpoints/checkpoint
twoOutputCheckpoints/cp.ckpt.data-00000-of-00001
twoOutputCheckpoints/cp.ckpt.index
